@import "partials/variables";

.linkButton {
  @include fontstyle(12px, bold, normal, normal);
  padding: 18px 45px;
  text-decoration: none;
  border-radius: $border-radius;
  cursor: pointer;
  letter-spacing: 0.4em;
  display: inline-block;
  color: $black1;
  border: none;
  box-shadow: none;
  outline: none;
  background-color: $blue1;

  @media (max-width: 768px) {
    letter-spacing: 0;
  }

  @media (max-width: 1330px) {
    letter-spacing: 0.2em;
    padding: 18px 35px;
  }

  @media (max-width: 1100px) {
    letter-spacing: 0.2em;
    padding: 18px 25px;
  }

  &.outline {
    background-color: transparent;
    border: 1px solid $blue1;
    color: $blue1;
  }
}

.linkButton + .linkButton {
  margin-left: 33px;
}
