@import "../scss/partials/variables";

.blogPost {
  margin-top: 150px;

  .breadcrumb {
    a {
      text-decoration: none;
      color: inherit;
    }

    font-size: 18px;
    line-height: 30px;
    color: #12D6D6;
  }

  .metaBar {
    margin: 50px 0;

    .postHeader {

      .author {
        color: white;
        display: block;
        padding: 0;
        margin: 0 0 5px;
      }

      .date {
        color: #596274;
        display: block;
        margin: 0;
        padding: 0;
      }
    }
  }

  .socialIcons {
    text-align: right;
    @media (max-width: $breakpoint) {
      margin-top: 25px;
      text-align: center;
    }

    img {
      height: 32px;
      margin: 0 10px;
      &:hover{
        filter: brightness(0) saturate(100%) invert(69%) sepia(85%) saturate(2173%) hue-rotate(130deg) brightness(102%) contrast(86%);

      }
    }


  }

  h1 {
    color: white;
    font-weight: normal;
  }

  .postImage {
    margin: 50px 0;
  }

  .postBody {
    margin-top: 50px;
    color: white;
  }

  section.relatedStories {
    margin-top: 70px;

    h3 {
      color: white;
    }

    .viewAll {
      text-align: center;
      display: block;
    }
  }

}
