
.blogPost {
  margin-top: 94px;

  .postImage {
    height: 500px;
    overflow: hidden;
    margin-bottom: 30px;
    @media (max-width: 1000px) {
      height: auto;
    }
  }

  .breadcrumb {
    a {
      text-decoration: none;
      color: inherit;
      font-size: inherit;
    }

    font-size: 14px;
    line-height: 30px;
    color: #12D6D6;
  }

  .metaBar {
    margin: 50px 0;

    .postHeader {
      display: flex;
      align-items: center;

      .authorAvatar {
        margin-right: 16px;
      }

      .author {
        display: block;
        padding: 0;
        margin: 0;
      }

      .date {
        color: #596274;
        display: block;
        margin: 0;
        padding: 0;
      }
    }
  }

  .socialIcons {
    text-align: right;
    @media (max-width: 1000px) {
      margin-top: 25px;
      text-align: left;
    }

    img {
      height: 32px;
      margin: 0 10px;

      &:hover {
        filter: brightness(0) saturate(100%) invert(69%) sepia(85%) saturate(2173%) hue-rotate(130deg) brightness(102%) contrast(86%);

      }
    }


  }

  h1 {
    font-weight: normal;
  }


  .postBody {
    margin-top: 50px;
    color: white;
  }

  section.relatedStories {
    margin-top: 170px;

    hr {
      opacity: 0.3;
    }

    h4 {
    }

    .viewAll {
      text-align: center;
      display: block;
    }
  }

}
