@import "../scss/partials/variables";

.blogPost {
  margin-top: 150px;

  .breadcrumb {
    a {
      text-decoration: none;
      color: inherit;
    }

    font-size: 18px;
    line-height: 30px;
    color: #12D6D6;
  }

  .socialIcons {
    text-align: right;
    img {
      height: 32px;
      margin-left: 30px;
    }

  }

  h1 {
    color: white;
    font-weight: normal;
  }

  section.relatedStories {

  }

}
