@import "../scss/partials/variables";

.blogPost {
  color: $white;

  .topImage {
    height: 550px;
  }

  .blogPostContainer {
    position: relative;
    background: #161616;
    margin-top: -200px;
    padding-top: 58px;

    .postCategory {
      font-size: 18px;
      line-height: 30px;
      color: #12D6D6;
    }

    .postShare {
      display: flex;
      justify-content: space-between;
      margin-top: 34px;

      img {
        width: 24px;
        margin-right: 40px;
      }

      .postAuthor {
        font-size: 16px;
        line-height: 28px;
      }

      .postDate {
        font-size: 14px;
        line-height: 24px;
        color: #596274;
      }
    }
  }

  .readNext {

  }
}
