@import "partials/variables";


article {
  margin-bottom: 70px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;

  .border {
    border: 1px solid #353535;
    box-sizing: border-box;
    border-radius: 5px;
  }


  p, span {
    color: #9696A5;
  }

  h3 {
    color: white;
    font-weight: bold;
    margin: 24px 0;
  }

  img {
    border-radius: 5px;
    overflow: hidden;
  }

  .body {
    padding: 24px;

    .heading {
      display: flex;
      align-items: center;

      .authorAvatar {
        display: inline-block;
        padding-right: 16px;
      }

      .authorDetails {
        display: inline-block;

        .dateRow {
          color: #9696A5;
          margin: 0;
        }

        .authorRow {
          color: white;
        }
      }

    }
  }


}
