@import "partials/variables";


article {
  margin-bottom: 70px;

  .article-content {
    overflow: hidden;

    .featured-image {
      height: 250px;
      width: 100%;
      display: block;
      overflow: hidden;

      div {
        background-size: cover;
        transition: all .5s ease;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 250px;
        background-color: rgba($color-grey2,0.5);

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .content {
      padding: 30px 35px 45px;
      background: #4A4C4F;

      h5 {
        margin: 0;
        padding: 0;
        color: $white;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        height: 64px;
        @media (max-width:$breakpoint) {
          max-height: 64px;
          height: auto;
        }
      }

      p {
        color: $white;
        padding-bottom: 0;
        margin-bottom: 4px;
      }

      span {
        font-size: 14px;
        line-height: 17px;
        color: #9696A5;
      }
    }

  }




}
