@import "partials/variables";


article {
  margin-bottom: 70px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;




  p, span {
    color: #9696A5;
  }

  h3 {
    color: white;
    font-weight: bold;
    margin: 24px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  img {
    border-radius: 5px;
    overflow: hidden;
  }

  .body {
    padding: 24px;

    .heading {
      display: flex;
      align-items: center;

      .authorAvatar {
        display: inline-block;
        padding-right: 16px;
      }

      .authorDetails {
        display: inline-block;
        width: 100%;
        .dateRow {
          color: #9696A5;
          margin: 0;
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;

        }


      }

    }
  }


}
