@import "../../scss/partials/variables";


.latest-stories {
  background: $color-dark;

  .blog-category {
    padding-bottom: 60px;
    padding-top: 150px;

    .topDecorator {
      display: block;
      height: 11px;
      width: 59px;
      background-color: $color-green;
    }

    h1 {
      text-align: left;
    }

    h3 {
      text-align: center;
      font-weight: normal;
    }

    span {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: $color-grey1;
      display: block;
      margin-bottom: 23px;
      text-align: left;
      @media (max-width: $breakpoint) {
        @include padding-mobile;
        display: block;
        text-align: center;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      text-align: left;

      @media (max-width: $breakpoint) {
        @include padding-mobile;
        display: block;
        text-align: center;
      }

      li {
        margin-right: 65px;
        color: $color-grey1;
        display: inline;

        button {
          padding: 0;
          background: none;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 38px;
          color: $color-grey1;
          text-transform: unset;
          letter-spacing: unset;

          &.active {
            color: $color-blue;
          }
        }

        &:first-child {
          margin-right: 115px;
        }

        &:last-child {
          margin-right: 0;
        }

        @media (max-width: $breakpoint) {
          display: block;
          margin: 0;
          width: 100%;
          line-height: 40px;
        }
      }
    }
  }

  .blog-view-all {
    text-align: center;
    margin-bottom: 228px;
    margin-top: 20px;

    button {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: $color-green;
      background: none;
      padding: 0;
      text-transform: none;
      letter-spacing: normal;
      text-decoration: underline;
    }
  }
}



